h1, p, table{
    font-family: sans-serif;
}
h1{
    text-align:center;
}
table {
	table-layout:fixed;
	border-collapse: collapse;
}
th, tr, td {
	padding: 5px;
	text-align: left;
}
.header__info{
    text-align: center;
}
.section__name .section__empty__name{
	width:120px;
}
.section__name{
    text-align: right;
	vertical-align: text-top;
	border-right: 2px solid black;
	border-bottom: 1px solid black;
    font-weight: bold;
}
.section__empty__name{
	border-style:hidden;
}
.line__bar__comment{
	width:100px;
    font-size:12px;
    text-align:right;
}
.line__bar__repeat {
	width:30px;
}
.bar__item, .bar--empty{
	width:50px;
}
.bar__item{
    padding:5px;
    font-size:20px;
	border-top: 2px solid;
	border-bottom: 2px solid;
}
.bar__open, .section__repeat, .line__bar__repeat {
	border-left:2px solid;
}
.riff{
	padding: 5px;
	padding-top: 10px;
	font-size: 12px;
	border-right: hidden;
}
.bar--empty {
	width:48px;
	border-right-style:hidden;
}
.sections__separation {
	height: 25px;
}